@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary-color: #75797b;
  --secondary-color: #ffed4a;
  --font-family: sans-serif, Helvetica, Arial;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--bg-gray-50);
  color: #333;
}
